<footer>
    <script src="/js/app.js"></script>
    <div class="footer-logos">
        <img class="logo-image" src="https://www.techswitch.co.uk/images/logo.svg" alt="">
        <img class="logo-image" src="https://res.cloudinary.com/dgx8goyms/images/f_auto,q_auto/v1603174722/softwire-logo/softwire-logo.png" alt="">
    </div>
</footer>