<header>
    <div class="nav-container">
        <nav class="desktop-nav">
            MyFace
            <div class="nav-options">
                <a href="/users/1">Home</a>
                <a href="/posts">Posts</a>
                <a href="/users">Users</a>
            </div>
            <a href="/posts/create">+ New Post</a>
        </nav>
        <nav class="mobile-nav">
            <img class="menu-button" id="menu-button" src="/img/menu_white_48dp.svg" alt="">
        </nav>
    </div>
</header>