<header>
    <nav>
        <div class="nav-container">
            MyFace
            <div class="nav-options">
                <a href="/users/1">Home</a>
                <a href="/posts">Posts</a>
                <a href="/users">Users</a>
            </div>
            <a href="/posts/create">+ New Post</a>
        </div>

    </nav>
</header>