<div class="menu-container" id="menu-container">
    <div class="close-button-container">
        <img class="menu-button" id="close-button" src="/img/close_white_48dp.svg" alt="">
    </div> 
    <div class="menu-subcontainer title">
    MyFace
    <div class="menu-options">
        <a href="/users/1">Home</a>
        <a href="/posts">Posts</a>
        <a href="/users">Users</a>
        <a href="/posts/create">+ New Post</a>
    </div>
    <div class="menu-logos">
        <img class="logo-image" src="https://www.techswitch.co.uk/images/logo.svg" alt="">
        <img class="logo-image"
            src="https://res.cloudinary.com/dgx8goyms/images/f_auto,q_auto/v1603174722/softwire-logo/softwire-logo.png"
            alt="">
    </div>
    </div>
</div>