<html lang="en-gb">
<%- include('_head') -%>
<%- include('_mobile_menu') -%>
    <%- include('_header') -%>

        <body>
            <div class="page-container" id="page-container">
            <h1>Create User</h1>
            <form class="create-item-form" method="post" action="/users/create">
                <label class="form-item">
                    <div>Name</div>
                    <input class="form-input" type="text" name="name" required />
                </label>
                <label class="form-item">
                    <div>Username</div>
                    <input class="form-input" type="text" name="username" required />
                </label>
                <label class="form-item">
                    <div>Email</div>
                    <input class="form-input" type="email" name="email" required />
                </label>
                <label class="form-item">
                    <div>Profile Image</div>
                    <input class="form-input" type="url" name="profileImageUrl" required />
                </label>
                <label class="form-item">
                    <div>Cover Image</div>
                    <input class="form-input" type="url" name="coverImageUrl" required />
                </label>
                <button class="submit-button" type="submit">Submit</button>
            </form>
            <%- include('_footer') -%>
            </div>
        </body>
       

</html>