    /* Add your styles here. */

    @import url("post-list.css");
    @import url("user-list.css");
    @import url("user-detail.css");
    * {
        font-family: 'Segoe UI', 'Open Sans';
        color: #DCDCDC;
    }

    .page-container {
        position: relative;
        min-height: 100vh;
    }

    .content-wrap {
        padding-bottom: 10rem;
    }

    body {
        margin: 0% 0% 2% 0%;
        padding: 0%;
        background-color: #252A38;
        line-height: 24px;
        size: 16px;
        position: relative;
        min-height: 100vh;
    }

    nav {
        background-color: #151820;
        font-size: large;
        padding: 1% 0%;
        width: 100%;
        margin-bottom: 4px;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        padding: 0 2.5rem;
    }

    .nav-container a {
        text-decoration: none;
    }

    .nav-options {
        display: flex;
    }

    .nav-options a {
        padding: 0 2.5rem;
        text-decoration: none;
    }

    nav a:hover {
        color: #2985FF;
    }

    .title {
        margin: 1%;
        line-height: 40px;
        size: 32px;
        font-weight: 400;
        padding-bottom: 16px;
    }

    .sub-title {
        margin: 1%;
        line-height: 32px;
        size: 24px;
        font-weight: 400;
    }

    .secondary {
        margin: 1%;
        line-height: 20px;
        size: 12px;
        font-weight: 400;
    }

    .secondary-bold {
        margin: 1%;
        line-height: 20px;
        size: 12px;
        font-weight: 600;
    }

    h2 {
        min-height: 64px;
    }

    a:active {
        color: #2985FF;
    }

    button a {
        color: #2985FF;
        border: 1px solid #2985FF;
        background-color: #252A38;
        text-decoration: none;
        border: none;
    }

    .main-button {
        color: #2985FF;
        border: 1px solid #2985FF;
        background-color: #252A38;
        padding: 10px;
        width: auto;
        min-width: 100px;
        margin: 0% 0% 0% 2%;
        line-height: 40px;
        size: 24px;
    }

    .create-item-form {
        display: flex;
        flex-direction: column;
        align-content: left;
    }

    .form-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5%;
        align-self: center;
        width: 20%;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #252A38;
        border-top: 2px solid #DCDCDC;
        margin: 40px 0px;
        height: 5rem;
        width: 100vw;
    }

    .footer-logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 16px 0;
        height: 5rem;
    }

    .logo-image {
        width: auto;
        height: 4rem;
    }

    @media only screen and (max-width: 400px) {
        .page-container {
            position: relative;
            min-height: 100vh;
        }
        .content-wrap {
            padding-bottom: 15rem;
        }
        body {
            margin: 0% 0% 2% 0%;
            padding: 0%;
            line-height: 20px;
            size: 14px;
        }
        nav {
            background-color: #151820;
            width: 100%;
            margin-bottom: 4px;
        }
        .nav-container {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
        .nav-container a {
            padding: 0;
            text-decoration: none;
        }
        .nav-options {
            display: flex;
        }
        .nav-options a {
            padding: 0.5rem;
            text-decoration: none;
        }
        nav a:hover {
            color: #2985FF;
        }
        .title {
            line-height: 32px;
            size: 24px;
        }
        .sub-title {
            line-height: 24px;
            size: 20px;
        }
        .secondary {
            line-height: 16px;
            size: 10px;
        }
        .secondary-bold {
            line-height: 20px;
            size: 12px;
        }
        button a {
            text-decoration: none;
        }
        .main-button {
            line-height: 32px;
            size: 20px;
        }
        .create-item-form {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
        .form-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1%;
            align-self: center;
            width: 80%;
        }
        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #252A38;
            border-top: 2px solid #DCDCDC;
            margin: 40px 0px;
            height: 10rem;
        }
        .footer-logos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 16px 0;
            height: 10rem;
        }
        .logo-image {
            width: auto;
            height: 4rem;
        }
    }