img {
    width: 200px;
}

@media only screen and (max-width: 400px) {
    img {
        width: 60px;
    }
}

.post-list {
    display: grid;
    grid-template-columns: 25% 50% 25%;    
    grid-template-rows: 25% 25% 50%;
}

.post-listing {

}

.like-button {

}

.dislike-button {

}